@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic:400,700,800');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nanum Gothic';
}

.snowflake {
    color: rgb(255, 200, 246);
    font-size: 1em;
    font-family: Arial;
    text-shadow: 0 0 1px #000;
}

@-webkit-keyframes snowflakes-fall{0%{top:-10%}100%{top:100%}}@-webkit-keyframes snowflakes-shake{0%{-webkit-transform:translateX(0px);transform:translateX(0px)}50%{-webkit-transform:translateX(80px);transform:translateX(80px)}100%{-webkit-transform:translateX(0px);transform:translateX(0px)}}@keyframes snowflakes-fall{0%{top:-10%}100%{top:100%}}@keyframes snowflakes-shake{0%{transform:translateX(0px)}50%{transform:translateX(80px)}100%{transform:translateX(0px)}}.snowflake{position:fixed;top:-10%;z-index:9999;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;cursor:default;-webkit-animation-name:snowflakes-fall,snowflakes-shake;-webkit-animation-duration:10s,3s;-webkit-animation-timing-function:linear,ease-in-out;-webkit-animation-iteration-count:infinite,infinite;-webkit-animation-play-state:running,running;animation-name:snowflakes-fall,snowflakes-shake;animation-duration:10s,3s;animation-timing-function:linear,ease-in-out;animation-iteration-count:infinite,infinite;animation-play-state:running,running}.snowflake:nth-of-type(0){left:1%;-webkit-animation-delay:0s,0s;animation-delay:0s,0s}.snowflake:nth-of-type(1){left:10%;-webkit-animation-delay:1s,1s;animation-delay:1s,1s}.snowflake:nth-of-type(2){left:20%;-webkit-animation-delay:6s,.5s;animation-delay:6s,.5s}.snowflake:nth-of-type(3){left:30%;-webkit-animation-delay:4s,2s;animation-delay:4s,2s}.snowflake:nth-of-type(4){left:40%;-webkit-animation-delay:2s,2s;animation-delay:2s,2s}.snowflake:nth-of-type(5){left:50%;-webkit-animation-delay:8s,3s;animation-delay:8s,3s}.snowflake:nth-of-type(6){left:60%;-webkit-animation-delay:6s,2s;animation-delay:6s,2s}.snowflake:nth-of-type(7){left:70%;-webkit-animation-delay:2.5s,1s;animation-delay:2.5s,1s}.snowflake:nth-of-type(8){left:80%;-webkit-animation-delay:1s,0s;animation-delay:1s,0s}.snowflake:nth-of-type(9){left:90%;-webkit-animation-delay:3s,1.5s;animation-delay:3s,1.5s}

#title_img {
    display: block;
    width: 400px;
    margin: 0 auto;
}

.entire {
    display: grid;
    grid-template-columns: 300px minmax(700px, 1fr);
    grid-gap: 3em;
    margin: 1em 10em 0;
}

.profile {
    background-color: rgb(142, 162, 255);
    text-align: center;
    border-radius: 10px;
    padding: 20px;
    display: grid;
    grid-gap: 5px;
}

h2 {
    color: rgb(255, 255, 255);
}

.profile p {
    color: rgb(255, 255, 255);
    line-height: 24px;
    font-size: 1em;
    padding: 0 1em;
    letter-spacing: -1px;
    text-align: justify;
}

.container {
    position: relative;
    background-color: rgb(218, 225, 255);
    border-radius: 10px;
    padding: 20px;
}

#grogu {
    width: 150px;
    border-radius: 50%;
    margin-top: 20px;
}

#house {
    width: 40px;
}

h1 {
    font-size: 40px;
    text-align: center;
    color: rgb(87, 118, 255);
    margin: 20px;
    font-weight: 800;
}

.radius-left {
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

.radius-right {
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}

.k {
    height: 400px;
}

.table-striped {
    margin: 20px auto;
    width: 85%;
    border-spacing: 0 15px;
}

td {
    text-align: center;
    background-color: rgb(255, 255, 255);
    padding: 10px 0;
    height: 45px;
}

th {
    text-align: center;
    background-color:rgb(142, 162, 255);
    padding: 10px 0;
    color: rgb(255, 255, 255);
    height: 40px;
}

.button {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.button a {
    display: inline-block;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: rgb(142, 162, 255);
    color: rgb(255, 255, 255);
    text-decoration: none;
    text-align: center;
    font-size: 15px;
    line-height: 40px;
    font-weight: 500;
    margin: 0 2px;
}

.button a:hover {
    background-color: rgb(87, 118, 255);
}

td a {
    text-decoration: none;
    color: #000;
}

td a:hover {
    color: rgb(87, 118, 255);
    font-weight: 600;
}

button {
    border: none;
    border-radius: 30px;
    background-color: rgb(142, 162, 255);
    color: rgb(255, 255, 255);
    text-align: center;
    font-weight: 500;
    width: 8em;
    height: 2em;
    font-size: 15px;
    position: absolute;
    right: 20px;
}

button:hover {
    background-color: rgb(87, 118, 255);
}

.button .target {
    background-color: rgb(87, 118, 255);
    font-weight: 600;
}